In [1]:
import sqlite3

建立資料庫

In [2]:
database = "test.db"

In [3]:
link = sqlite3.connect(database)

In [4]:
control = link.cursor()

建立資料表

In [5]:
SQL_grammar = """Create Table If Not Exists 期中成績\
("座號" Integer Not Null, \
"姓名" Text Not Null, \
"大數據" Integer Not Null, \
"資料庫" Integer Not Null, \
"財務管理" Integer Not Null)"""

In [6]:
control.execute(SQL_grammar)

https://sqlitebrowser.org/

插入資料至資料表中

In [7]:
SQL_grammar = """Insert Into 期中成績 Values(1,"ABC", 80, 90, 100)"""

In [8]:
control.execute(SQL_grammar)

In [9]:
link.commit()